#menuToggle
{
  display: block;
  position: fixed;
  top: 24px;
  right: 20px;
  
  z-index: 888;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  color: white 
}

#menuToggle a:hover
{
  color: #757BFD;
}
